<div class="header">
    <div>
        <img src="images/burger.png" alt="Burger Button" class="burger" id="burger"/>
        <img src="images/logo.png" alt="Logo"/>
        <img src="images/search.png" alt="search"/>
    </div>
</div>
<div id="body_wrapper"></div>
<ul class="menu">
    <li class="mobile_header">
        <img src="images/logo.png" alt="Logo"/>
        <img src="images/close.png" alt="Close" id="close" />
    </li>
    <li class="has-sub">
        <a href="javascript:void(0)">Demos</a>
        <ul>
            <li>
                <a href="javascript:void(0)">Demos Header</a>
            </li>
            <li>
                <a href="javascript:void(0)">Demos Layout</a>
            </li>
            <li>
                <a href="javascript:void(0)">Demos Buttons</a>
            </li>
        </ul>
    </li>
    <li class="has-sub">
        <a href="javascript:void(0)">Post</a>
        <ul>
            <li>
                <a href="javascript:void(0)">Post Header</a>
            </li>
            <li>
                <a href="javascript:void(0)">Post Layout</a>
            </li>
            <li>
                <a href="javascript:void(0)">Share Buttons</a>
            </li>
            <li>
                <a href="javascript:void(0)">Gallery Post</a>
            </li>
            <li>
                <a href="javascript:void(0)">Video Post</a>
            </li>
        </ul>
    </li>
    <li class="has-sub">
        <a href="javascript:void(0)">Features</a>
        <ul>
            <li>
                <a href="javascript:void(0)">Features Header</a>
            </li>
            <li>
                <a href="javascript:void(0)">Features Layout</a>
            </li>
        </ul>
    </li>
    <li class="has-sub">
        <a href="javascript:void(0)">Categories</a>
        <ul>
            <li>
                <a href="javascript:void(0)">Categories Header</a>
            </li>
            <li>
                <a href="javascript:void(0)">Categories Layout</a>
            </li>
            <li>
                <a href="javascript:void(0)">Categories Footer</a>
            </li>
        </ul>
    </li>
    <li class="has-sub">
        <a href="javascript:void(0)">Shop</a>
        <ul>
            <li>
                <a href="javascript:void(0)">Shop Header</a>
            </li>
            <li>
                <a href="javascript:void(0)">Shop Layout</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Buy Now</a>
    </li>
</ul>